/* You can add global styles to this file, and also import other style files */
*:not(dialog) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #19151b;
  color: #eafaea;
}
